*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    max-width: 1600px;
    margin:0 auto ;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 55px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: red;
    font-size: 16px;
}
.banner-content .green{
  color: rgba(48, 184, 104, 1);
}

.btn{
  color: white;
  background-color: #30B868;
  border:none;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 16px;
}
.transparrent{
     color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 16px;
}
.is-green{
  color: white;
  height: 52px;
  background-color: #30B868;
  border:none;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 16px;
}

#banner{
  margin: 0 auto;
  max-width: 1600px;
  height:674px;
  background-repeat: no-repeat;
  background-image: url('../assets/hero-bg.png');
}

.banner-content p{
  max-width: 700px; 
  text-align:center;
  margin: 0 auto;
  line-height: 25px; 
  padding: 20px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.banner-content h1{
  font-size: 65px;
  color: white;

}
.banner-content .head-btn{
color:  rgba(70, 145, 101, 1);
  background-color: whte;
  padding: 8px 12px;
  border-radius: 1000px;
  border: none;
  font-size: 16px;
}

#banner .banner-content{
  padding-top: 100px;
  text-align: center;


}