*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-sans{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    max-width: 1600px;
    margin:0 auto ;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 55px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-size: 16px;
}
.banner-content .green{
  color: rgba(48, 184, 104, 1);
}

.btn{
  color: white;
  background-color: #30B868;
  border:none;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 16px;
}
.transparrent{
     color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 16px;
}
.is-green{
  color: white;
  height: 52px;
  background-color: #30B868;
  border:none;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 16px;
}

#banner{
  margin: 0 auto;
  max-width: 1600px;
  height:674px;
  background-repeat: no-repeat;
  background-image: url('../assets/hero-bg.png');
}

.banner-content p{
  max-width: 700px; 
  text-align:center;
  margin: 0 auto;
  line-height: 25px; 
  padding-top: 16px;
  padding-bottom: 32px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.banner-content h1{
  font-size: 65px;
  color: white;
  line-height: 70px;;
  padding-top: 16px;
  font-weight: 700;

}
.banner-content .head-btn{
color:  rgba(70, 145, 101, 1);
  background-color: whte;
  padding: 8px 12px;
  border-radius: 1000px;
  border: none;
  font-size: 16px;
}

#banner .banner-content{
  padding-top: 100px;
  text-align: center;
}
#heading{
  text-align: center;
}
#heading h3{
  font-size: 48px;
  padding-top: 50px;
  text-transform: capitalize;
}
#heading article{
  font-size: 16px;
  color:rgba(98, 115, 130, 1);
  padding-top: 16px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}
#card{
  padding-top : 44px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  gap: 40px;
  justify-content: space-between;
  padding: 44px 100px;
}
#card .card-content{
  border-radius: 5px;
  box-shadow: 0 0 3px gray;
  padding :30px;
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#card .card-title p{
  font-size: 16px;
  color:#627382;
  line-height: 24px;
  padding-top: 16px;
}
#card .card-title h4{
  font-size: 24px;
  padding-top: 20px;
}
.card-content .card-image{
  background-color: red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding-top:10px;
}

#post{
  max-width: 1600px;
  margin: 0 auto;
}
.poster-content{
  display: flex;
  gap: 40px;
  padding: 80px;
}
.poster-content .poster-text{
  padding:30px 90px;
}
.poster-content .poster-text p{
  padding: 20px 0;
color: rgba(70, 145, 101, 1);
}
.poster-content .poster-text h1{
 font-size: 48px;
 text-transform: capitalize;
}
.poster-content .poster-text ul{
 text-transform: capitalize;
 list-style: none;
}
.poster-content .poster-text ul li{
  padding-top: 16px;
}
#challenge{
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(247, 246, 242, 1);
  padding: 80px 40px;

}
#challenge .ref h1{
 font-size: 40px;
 font-weight: bolder;
}
#challenge .ref article{
  padding: 26px 300px 40px 254.99px;
  color: rgba(98, 115, 130, 1);
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}
